<h2>Data Types</h2>
Rollno={{int}}<br>
Name={{name}}<br>
Division={{div}}<br>
Marks={{marks}}<br>
AnyType={{x}}<br>
{{pass}}<br>
{{arraynum}}<br>
-------------------------------------
<div *ngFor="let num of arraynum">
  {{num}}
</div>
-------------------------------------
<div *ngFor="let stri of strarray">
  {{stri}}
</div>
-------------------------------------
<h2>Student class</h2>
SID={{stu.sid}}<br>
SNAME={{stu.sname}}<br>
SADDR={{stu.saddr}}<br>
SMOB={{stu.smob}}<br>
SMARKS={{stu.smarks}}
-------------------------------------