<div class="header">
    <a href="#default" class="logo">Logo</a>
    <div class="header-right">
      <a class="active" href="#home">Communities</a>
      <a href="#contact">Status</a>
      <a href="#about">New chat</a>
    </div>
    <div class="cont">
        <ol>
            <li>John Doe - +914567890</li>
            <li>Jane Smith - +9112345678</li>
            <li>Alex Johnson - +9876543210</li>
            <li>Roman reign- +9174567890</li>
            <li>Brock lesner - +7612345678</li>
            <li>John Abraham - +9198765432</li>
            <!-- Add more contacts as needed -->
          </ol>
    </div>
 
 
