<h2>Data Binding</h2>

<h3>----------------one way binding-----------------</h3>
<input type="text" [value]="name">
<h1>------------------------------------------------</h1>

<h3>----------------one way binding-----------------</h3>
<input type="button" (click)="save()" value="save">
<h1>------------------------------------------------</h1>

<h3>----------------Two way binding-----------------</h3>
<input type="text" [(ngModel)]="name"><br>
<input type="button" (click)="call()" value="call">
<h1>------------------------------------------------</h1>


